.mainpage-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('/public/images/purple.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    text-align: center;
  }
  
  h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
  }
  
  p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  
  .btns {
    margin: 0 10px;
    padding: 12px 30px;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 50px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
  }
  
  .btns:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.7);
  }
  
  
  .btn--Outline {
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
  }
  
  .btn--Outline:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.7);
  }
  
  .btn--Primary {
    background-color: #4b6cb7;
    color: #fff;
    border: none;
  }
  
  .btn--Primary:hover {
    background-color: #2a4d69;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
  }
  
  @media screen and (max-width: 960px) {
    h1 {
      font-size: 2.5rem;
    }
  
    p {
      font-size: 1.2rem;
    }
  
    .btns {
      font-size: 1rem;
      margin: 0 5px;
      padding: 8px 16px;
    }
  }
  